.HexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hexRowHighlight {
  /* background-color: rgba(60,20,20,.8); */
  background-color: #44967980;
  background-size: 100%;
  /* border: 2px solid #7DE3BF80; */
}
