.Subroutines {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
  justify-content: center;
}

.subroutinesContainer {
  /* border: 1px solid #7DE3BF80; */
  /* box-shadow: 10px 10px 10px rgba(0,0,0,0.5); */
  padding: 3%;
}

.subroutineHeader {
  color: #ffffffdd;
  margin-bottom: 5px;
}

.subroutine {
  display: flex;
  flex-direction: row;
  border: 2px solid #7DE3BF80;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  margin: 4px;
  padding: 2%;
  flex-direction: column;
  align-items: left;
  animation: subroutineBoot 0.5s;
  animation-fill-mode: forwards;
}

.subroutineNoAnimation {
  animation: none;
}

@keyframes subroutineBoot {
  0% {transform: scaleX(0)}
  100% { transform: scaleX(1) }
}

.subroutineValues {
  display: flex;
  flex-direction: row;
}

.subroutineObjectiveHighlight {
  background-color: #3bc70270;
  /* background-color: green; */
}

.subroutineTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 25px;
  padding: 10px;
  font-size: 25px;
  margin: 5px;
  border-radius: 10px;
  /* background-color: rgba(25,25,25,.5); */
  /* background-color: #44967980; */
  border: 1px solid #7DE3BF80;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.subroutineTerminate {
  animation: subroutineTerminate 0.5s;
  animation-fill-mode: forwards;
}

@keyframes subroutineTerminate {
  0% {transform: scaleX(1)}
  100% { transform: scaleX(0) }
}

/* red: A8554F */
