.hoverable:hover:not(.greyText) {
  background-color: #7DE3BF80;
}

.Hex {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  width: 40px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 100%
}

.greyText {
  opacity: 0.6;
}

.hexHighlight {
  /* background-color: rgba(60,20,20,.8); */
  background-color: #44967980;
  background-size: 100%;
  /* border-left: 2px solid #7DE3BF80; */
  /* border-right: 2px solid #7DE3BF80; */
}

.topHex {
  /* border-top: 2px solid #7DE3BF80; */
}

.bottomHex {
  /* border-bottom: 2px solid #7DE3BF80; */
}
