.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffffdd;
  cursor: default;
  user-select: none;
  height: 100%;
  width: 100%;
}

.board {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.table {
  width: 90%;
  max-height: 249px;
  max-width: 600px;
  background-color: #11111180;
  border-radius: 10px;
  box-shadow: 15px 15px 10px rgba(0,0,0,0.5);
}

.centralContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.centralColumn {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centralRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.objectiveColumn {
  display: flex;
  width: 30%;
  align-items: flex-start;
}

.onBoot {
  animation: onBoot 0.5s;
  animation-fill-mode: forwards;
}

@keyframes onBoot {
  0% {transform: scaleY(0)}
  100% { transform: scaleY(1) }
}

.terminate {
  animation: terminate 0.5s;
  animation-fill-mode: forwards;
}

@keyframes terminate {
  0% {transform: scaleY(1)}
  100% { transform: scaleY(0) }
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.objectiveRow {
  // margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tsparticles {
  z-index: -1;
  background-color: #171b23;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reboot {
  color: #A8554F80;
  padding: 5px;
  border: 3px solid #A8554F80;
  border-radius: 10px;
  outline: none;
  position: absolute;
  bottom: 15%;
  animation: slowAppear 2s;
}

.reboot:hover{
  background-color: #A8554F80;
  color: #ddddddaa;
}

.terminateText {
  display: flex;
  align-items: center;
  position: absolute;
  top: 46%;
  animation: slowAppear 1s;
  animation-fill-mode: forwards;
}

.successText {
  color: #3bc70240
}

.failureText {
  color: #A8554F40
}

@keyframes slowAppear {
  0% {opacity: 0}
  50% {opacity: 0}
  100% {opacity: 1 }
}

// glitch effect from the codepen by Lucas Bebber: https://codepen.io/lbebber/pen/ypgql
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}

.glitch::after {
  display: flex;
  left: 2px;
  align-items: center;
  width: 1000px;
  content: attr(data-text);
  overflow: hidden;
  position: absolute;
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch::before {
  display: flex;
  left: -2px;
  align-items: center;
  width: 1000px;
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  animation: noise-anim 15s infinite linear alternate-reverse;
}

@media only screen and (max-height: 500px) {
  .objectiveRow {
    width: 40%;
  }
}

@media only screen and (max-width: 590px) {
  .Subroutines {
    height: 70%;
  }

  .centralRow {
    align-items: flex-end;
    height: 95%;
    max-height: 600px;
  }

  .objectiveRow {
    width: 100%;
    height: 45%;
    align-items: flex-end;
  }

  .centralContainer {
    width: 90%;
    height: 100%;
  }

  .subroutineObjectives {
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    // align-items: center;
    margin-left: 5%;
  }
}


@media only screen and (max-height: 500px) {
  .App {
    flex-direction: row-reverse;
    align-items: baseline;
  }

  .board {
    height: 90%;
  }

  .centralRow {
    height: 100%;
  }

  .centralColumn {
    height: 90%;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
