.App {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: rgba(20,20,20,.5);
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.highlight {
  background-color: rgba(60,20,20,.5);
  background-size: 100%
}

.primaryObjective {
  margin-bottom: 80px;
}

.background {
  z-index: -1;
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #282c34;
  color: rgba(20,20,20,.5);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
