.Buffer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 780px;
}

.bufferText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 80%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 2%;
  margin-right: 2%;
  /* background-color: rgba(25,25,25,.5); */
  /* background-color: #44967980; */
  border: 10px double #44967960;
  border-top: none;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 1090px) {
  .bufferText {
    border: 3px double #44967960;
    border-top: none;
  }
}

@media only screen and (max-width: 590px) {
  .Buffer {
    margin-top: 10%;
  }
}

@media only screen and (max-height: 500px) {
  .bufferText {
    border: 3px double #44967960;
    border-top: none;
  }
}

.blink {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}

.onBoot-buffer {
  animation: onBoot-buffer 0.5s;
  animation-fill-mode: forwards;
}

.terminate-buffer {
  animation: terminate-buffer 0.5s;
  animation-fill-mode: forwards;
}

@keyframes onBoot-buffer {
  0% {transform: scaleX(0)}
  100% { transform: scaleX(1) }
}

@keyframes terminate-buffer {
  0% {transform: scaleX(1)}
  100% { transform: scaleX(0) }
}
