.Objective {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  animation: objectiveBoot 0.5s;
  animation-fill-mode: forwards;
}

@keyframes objectiveBoot {
  0% {transform: scaleY(0)}
  100% { transform: scaleY(1) }
}

.noAnimation {
  animation: none;
}


.ObjectiveTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  /* background-color: rgba(25,25,25,.5); */
  /* background-color: #44967980; */
  border: 1px solid #7DE3BF80;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.objectiveHighlight {
  background-color: #3bc70270;
}

.objectiveHeader {
  color: #ffffffdd;
  margin-bottom: 15px;
}

.objectiveFailed {
  background-color: #A8554F80;
  border: 1px solid #A8554F80;
}

/* red: A8554F */
