.Objective {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  animation: objectiveBoot 0.5s;
  animation-fill-mode: forwards;
  margin-bottom: 3%;
}

@media only screen and (max-width: 590px) {
  .Objective {
    margin-bottom: 10%;
  }
}

@keyframes objectiveBoot {
  0% {transform: scaleY(0)}
  100% { transform: scaleY(1) }
}

.noAnimation {
  animation: none;
}


.ObjectiveTextContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 20%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  max-width: 117px;
  max-height: 50px;
  border: 1px solid #7DE3BF80;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.objectiveHighlight {
  background-color: #3bc70270;
}

.objectiveHeader {
  color: #ffffffdd;
  margin-bottom: 15px;
}

.objectiveFailed {
  background-color: #A8554F80;
  border: 1px solid #A8554F80;
}

/* red: A8554F */
